<div class="request-boards">
        <table class="request-board">
            <tr>
                <th colspan="2"><%= link_to "Incoming Requests", 'incoming_requests' %></th>
            </tr>
            <% current_user.incoming_requests.each do  |request| %>
                <tr>
                    <td><%= request.buyer.profile.username %></td>
                    <td class="checkbox">!</td>
                </tr>
            <% end %>
        </table>
        <table class="request-board">
            <tr>
                <th colspan="2"><%= link_to "Outgoing Requests", 'outgoing_requests' %></th>
            </tr>
            <% current_user.outgoing_requests.each do  |request| %>
                <tr>
                    <td><%= request.artist.profile.username %></td>
                    <td class="checkbox">!</td>
                </tr>
            <% end %>
        </table>
</div>
