/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$near_black: #4F4F4F;
$off_white: #F2F2F2;
$brown: #753926;
$green: #35A865;
$orange: #FF984E;
$red: #E73A3A;
$blue: #50AAC8;

$rosarivo: 'Rosarivo', serif;
$ruthie: 'Ruthie', cursive;

* {
    padding: 0;
    border: 0;
    margin: 0;
    color: $near-black;
    font-family: $rosarivo;
    line-height: 1.3;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
}

.navbar {
    height: 100px;
    position: fixed;
    bottom: 0;
    z-index: 1;
    background: #F2F2F2;
    width: 100%;
    display: flex;
}

.nav-btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.nav-btn {
    font-family: $rosarivo;
    border: 1px solid $near-black;
    border-radius: 20px;
    padding: 20px 10px;
}

.navbar img {
    height: 100px;
    display: inline-block;
}

h1 {
    font-size: 40px;
    line-height: 1.4;
}
/*-----------------REUSABLE ELEMENTS---------------------*/

.divider {
    height: 100px;
}


/*--BUTTONS--*/

.btn {
    margin: 15px 0;
    width: 230px;
    font-family: $ruthie;
    font-size: 60px;
    padding: 30px 10px;
    border-radius: 50px;
    transition: all 0.4s;
}


.btn a {
    font-family: $ruthie;
    text-decoration: none;
    background: transparent;
    padding: 35px;
    transition: all 0.4s;
}

.style-btns {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.btn-green {
    border: 1px solid $green;
}

.btn-green a {
    color: $green;
}

.btn-green a:hover {
    color: white;
}

.btn-green:hover {
    color: white;
    background: $green;
}

.btn-orange {
    color: $orange;
    border: 1px solid $orange;
    padding: 15px 10px;
}

.btn-orange:hover {
    background: $orange;
}

.btn-orange a:hover {
    color: white;
}

/*COLOR EFFECTS*/

.color-splash {

}

.color-splash-green {
    text-align: right;
}

.color-splash-orange {
    text-align: left;
}

.color-splash-red {
    text-align: right;
}

.color-stroke {
    height: 150px;
    font-family: $ruthie;
    font-size: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 80px;
    margin-bottom: -40px;
}

.color-stroke a {
    font-family: $ruthie;
    font-size: 100px;
    padding-top: 10px;
    text-decoration: none;
    transition: all 0.5s;
}

.color-stroke a:hover {
    background: transparent;
    color: $near-black;
    font-size: 105px;
}

.color-stroke-green {
    background-image: url(color-stroke-green.svg);
    background-position: center;
}

.color-stroke-orange {
    background: $orange;
}

.color-stroke-red {
    background: $red;
}

.tilt-anticlockwise {
    transform: rotate(350deg);
}

.tilt-clockwise {
    transform: rotate(15deg);
}

.ruthie-text {
    font-family: $ruthie;
    font-size: 60px;
    line-height: 1.4;
}

.ruthie-paragraph {
    font-family: $ruthie;
    font-size: 40px;
    line-height: 1.3;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.request-boards {
    display: flex;
    justify-content: space-between;
}

.request-board {
    border: 1px solid $near-black;
    border-collapse: collapse;
    width: 400px;
}

.request-board tr {
    height: 60px;
}

.request-board th, .request-board td {
    border: 1px solid $near-black; 
}

.request-board th {
    height: 100px;
}

.request-board td {
    font-family: $rosarivo;
    font-size: 40px;
    padding-top: 10px;
}

.request-board a {
    font-family: $ruthie;
    font-size: 50px;
    text-decoration: none;
    transition: all 0.3s;
    color: $near-black;
}

.request-board a:hover {
    font-size: 55px;
    background: transparent;
    color: $near-black;
}

.checkbox {
    width: 30px;
    color: $red;
}

/*--CARDS--*/

.artist-card {
    width: 100%;
    border: 1px solid $near_black;
    box-shadow: 2px 5px 5px $near_black; 
}

.artist-card-heading {
   text-align: left;
   font-size: 30px;
   font-family: $rosarivo;
   font-style: italic;
   padding: 15px;
}

.artist-card-text {
    text-align: left;
    font-size: 30px;
    font-family: $rosarivo;
    padding: 15px;
    border-bottom: 1px solid $near_black;
    background: white;
}

.card-title {
    font-family: $rosarivo;
    font-size: 50px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
}

.image-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 3px solid $brown;
    width: 330px;
    padding-top: 10px;
    background: $off_white;
    box-shadow: 0px 5px 5px $near_black;
}

.image-card-image {
    margin-bottom: 5px;
}

.image-card-description {
    background: white;
    font-family: $rosarivo;
    height: 100px;
    width: 300px;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 10px;
}

/*--*/



.artist-card {
    width: 100%;
    border: 3px solid $brown;
    background: $off_white;
    box-shadow: 0px 5px 5px $near_black;
}

.artist-card-image-reel {
    width: 100%;
    display: flex;
    flex-direction: row;
    jusfify-content: space-between;
}

.artist-card-image-reel img {

}

.artist-card-image {
    display: flex;
    flex-direction: column;
}

.artist-card-description {
    padding: 10px;
    font-family: $rosarivo;
}

/*-----------------pages/welcome--------------*/
.welcome-msg {
    font-size: 50px;
    margin-top: 20vh;
    padding-bottom: 40px;
}

.separator {
    margin: 10vh 0;
}

.welcome-heading {
    font-family: $ruthie;
    font-size: 150px;
}

/*---------------users/index, users/show, styles/index & styles/show-----------------*/
.page-heading, .page-subheading {
    display: block;
    font-family: $ruthie;
    text-align: center;
    transform: rotate(355deg)
}

.page-heading {
    font-size: 150px;
}

.page-subheading {
    font-size: 100px;
}





